//========================================================
//                     Variables
//=========================================================

// Use relative measurements. Change to 0 on "Post Production"
$debug: 1;

// Layouts
$layout-boxed-width: 1920px;
$layout-boxed-bg: #444;


// Resolutions
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xlg-min: 1800px;


// Fonts
$default-font-family: 'Montserrat', sans-serif;
$default-font-weight: 400;
$default-font-size: 16px;
$default-line-height: 26px;


// Colors
$default: #a6a9ac;
$contrast: #fff;
$white: #fff;
$primary: #1f6299;
$secondary-1: #fbaf5d;
$secondary-2: #3d4347;
$secondary-3: #feea3a;

$border-color: #ededed;

$header-color: $primary;
$header-bg: $white;

$content-color: $default;
$content-bg: #f8fafa;

$footer-color: $contrast;
$footer-bg: $default;


// Round Corvers
$border-radius-small: 0;
$border-radius-base: $border-radius-small * 2;
$border-radius-large: $border-radius-base * 2;


// Shadows
$box-shadow-ambient: 0 0 2px rgba($default, .07);
$box-shadow-key-light: 2px 3px 8px 0px rgba($default, 0.17);

